*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif;
    background-color: #ffe5b4;
    background: linear-gradient(135deg, #FFE0B2, #FFF8E1);
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    /* border: 4px solid #E65100; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    background: #FFF8E1;
}
.box1, .box2{
    width: 400px;
    height: 380px;
    /* padding: 30px; */
}
.box1{
    border-right: 4px solid #d35400;
    padding: 30px;
}
.box1 div button{
    border: none;
    padding: 5px 13px;
    border-radius: 20px;
}
.box1 div{
    margin: 10px auto;
    width: fit-content;
}
.box1 div span{
    display: inline-block;
    width: 120px;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}
.box1 div button{
    background-color: #d35400;
    font-size: 20px;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}
.box1 div button:hover{
    background-color: black;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: end;
}
.box2 .burger{
    border-top-right-radius : 15px;
    border-bottom-right-radius : 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.bread1{
    background-color: #feb634;
    height: 60px;
    width: 250px;
    border-radius: 70px 70px 15px 15px;
    position: relative;
}
.seed {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #2c2a28;  /* Dark brown to resemble sesame seeds */
    border-radius: 50%;
    position: absolute;
}
.bread2{
    background-color: #feb634;
    border-radius: 15px 15px 35px 35px;
    height: 40px;
    width: 250px;
    position: relative;
}
.meat{
    background-color: rgb(126, 54, 21);
    border-radius: 20px;
    height: 40px;
    width: 250px;
}

.tomato{
    background-color: #d41f1e;
    border-radius: 20px;
    height: 25px;
    width: 250px;
}

.lettuce{
    background-color: #7abf03;
    border-radius: 20px;
    height: 15px;
    width: 250px;
}

.cheese{
    background-color: #f5e002;
    border-radius: 20px;
    height: 10px;
    width: 250px;
}

.onion{
    background-color: #e0bbe4;
    border-radius: 20px;
    height: 15px;
    width: 250px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    color: #d35400;
    font-weight: 700;
}

.burger{
    transition-duration: 0.3s;
}
.burger:hover{
    transform: scale(1.1);
}

.finish-btn{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px;
     color: white;
    background-color: black;
    border-radius: 16px;
    border: none;
    outline: none; 
    cursor: pointer;
    bottom: 15px;
    left: 50%;
    transform: translateX(-110%); 
    transition-duration: 0.5s;
}
.finish-btn:hover{
    background-color:  #E65C00;
}
.reset-btn{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px;
    color: white;
    background-color: black;
    border-radius: 16px;
    border: none;
    outline: none; 
    cursor: pointer;
    bottom: 15px;
    left: 50%;
    transform: translateX(10%);
    transition-duration: 0.5s;
    z-index: 10;
}
.reset-btn:hover{
    background-color:  #E65C00;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.7);
}
@media (max-width: 860px){
    .box1{
        border-right: none;
        border-bottom: 4px solid #d35400;
    }
    .box1 div{
        margin: 10px auto;
        width: fit-content;
        
    }
    body{
        flex-direction: column;
    }
    .finish-btn, .reset-btn{
        position: relative;
        left: 0;
        bottom: 0;
        transform: none;
        display: inline-block;
        margin-right: 10px;
    }
    .buttons{
        margin-top: 20px;
    }
    body{
        height: min-content;
        padding: 30px;
    }
    .container{
        flex-direction: column;
    }
}
@media (max-width:500px){
    .box1{
        width: 300px;
        height: fit-content;
    }
    .box2{
        width: 300px;
    }
}