*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

/* ----------- Welcome Page ------------ */

.welcome-page{
    /* display: none; */
    background-color: #FFE0B2;
    height: 100vh;
}
.welcome-page h1{
    text-align: center;
    font-weight: 800;
    padding: 30px;
    color: #E65100;
}
.cards{
    height: calc(100vh - 137px);
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    text-align: center;
}
.welcome-page .card{
    background-color: #FFF8E1;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #d6b893;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 400px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
/* .welcome-page .card:hover{
    transform: scale(1.1);
} */

.welcome-page .mybtn{
    padding: 10px 25px;
    outline: none;
    margin-top: 10px;
    border: none;
    background-color: #E65C00;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.2s;
    /* transition-delay: 0.s; */
    cursor: pointer;
}
.welcome-page .mybtn:hover{
    background-color: black;
}
.welcome-page .cards .card h2{
    color: #E65100;
}
.welcome-page .cards .card img{
    width: 250px;
}

/* ------------ The Second Page ------------*/
.maker-page{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(135deg, #FFE0B2, #FFF8E1); */
    background-color: #FFE0B2;
    position: relative;
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background: #FFF8E1;
}
.box1, .box2{
    width: 400px;
    height: 380px;
    /* padding: 30px; */
}
.box1{
    border-right: 4px solid #d35400;
    padding: 20px;
}
.box1 h1{
    text-align: center;
    margin-bottom: 40px;
    color: #d35400;
    font-weight: 700;
}
.box1 div button{
    border: none;
    padding: 5px 13px;
    border-radius: 20px;
}
.box1 div{
    margin: 10px auto;
    width: fit-content;
}
.box1 div span{
    display: inline-block;
    width: 120px;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}
.box1 div button{
    background-color: #d35400;
    font-size: 20px;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}
.box1 div button:hover{
    background-color: black;
}
.box1 .price-tag{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.box2{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: end;
}
.box2 .burger{
    border-top-right-radius : 15px;
    border-bottom-right-radius : 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.bread1{
    background-color: #feb634;
    height: 60px;
    width: 250px;
    border-radius: 70px 70px 15px 15px;
    position: relative;
}
.seed {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #2c2a28;  /* Dark brown to resemble sesame seeds */
    border-radius: 50%;
    position: absolute;
}
.bread2{
    background-color: #feb634;
    border-radius: 15px 15px 35px 35px;
    height: 40px;
    width: 250px;
    position: relative;
}
.meat{
    background-color: rgb(126, 54, 21);
    border-radius: 20px;
    height: 40px;
    width: 250px;
}

.tomato{
    background-color: #d41f1e;
    border-radius: 20px;
    height: 25px;
    width: 250px;
}

.lettuce{
    background-color: #7abf03;
    border-radius: 20px;
    height: 15px;
    width: 250px;
}

.cheese{
    background-color: #f5e002;
    border-radius: 20px;
    height: 10px;
    width: 250px;
}

.onion{
    background-color: #e0bbe4;
    border-radius: 20px;
    height: 15px;
    width: 250px;
}



.burger{
    transition-duration: 0.3s;
}
.burger:hover{
    transform: scale(1.1);
}

.finish-btn{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px;
     color: white;
    background-color: #E65C00;
    border-radius: 16px;
    border: none;
    outline: none; 
    cursor: pointer;
    bottom: 15px;
    left: 50%;
    transform: translateX(-110%); 
    transition-duration: 0.5s;
}
.finish-btn:hover{
    background-color:  black;
}
.reset-btn{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px;
    color: white;
    background-color: #E65C00;
    border-radius: 16px;
    border: none;
    outline: none; 
    cursor: pointer;
    bottom: 15px;
    left: 50%;
    transform: translateX(10%);
    transition-duration: 0.5s;
    z-index: 10;
}
.reset-btn:hover{
    background-color:  black;
}
#backWelcome{
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition-duration: 0.2s;
    position: absolute; 
    top: 20px;
    left: 20px;
}
#backWelcome:hover{
    background-color: #E65C00;
}
/* ------------ Random Page ------------- */